{% extends "index.html" %}
{% block content %}

<form class="container" method="POST" action="{{ url_for('novo_funcionario_post') }}">
    <br>
    <div class="mb-3">
      <label for="name_employees" class="form-label">Nome</label>
      <input class="form-control" id="name_employees" aria-describedby="emailHelp" name="name_employees">
      <div class="form-text">Informar seu Nome</div>
    </div>
    <div class="mb-3">
      <label for="username_employees" class="form-label">Cpf</label>
      <input class="form-control" id="username_employees" aria-describedby="emailHelp" name="cpf_id_employees">
      <div class="form-text">Informar CPF</div>
    </div>
    <div class="mb-3">
      <label for="new_email_employees" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="new_email_employees" name="new_email_employees">
      <div class="form-text">Informar o email</div>
    </div>
    <div class="mb-3">
      <label for="add_password_employees" class="form-label">Senha</label>
      <input type="password" class="form-control" id="add_password_employees" name="password_employees">
      <div class="form-text">Informe a senha</div>
    </div>
    <div class="mb-3">
       <label for="add_password_employees" class="form-label">Senha</label>
       <input type="password" class="form-control" id="add_password2_employees" name="password2_employees">
       <div class="form-text">Confirmação de senha</div>
    </div>
    <br><br>
    <div class="form-text">Adicione quantas horas o funcionario vai trabalhar em cada dia da semana:</div>
    <br>
    <div class="mb-3">
      <label for="hours_employees" class="form-label">Domingo</label>
      <input type="number" class="form-control" id="domingo_hour_employees" name="domingo" min="0" max="24">
      <br>
      <label for="hours_employees" class="form-label">Segunda-feira</label>
      <input type="number" class="form-control" id="segunda_hour_employees" name="segunda" max="24">
      <br>
      <label for="hours_employees" class="form-label">Terça-feira</label>
      <input type="number" class="form-control" id="terca_hour_employees" name="terca" max="24">
      <br>
      <label for="hours_employees" class="form-label">Quarta-feira</label>
      <input type="number" class="form-control" id="quarta_hour_employees" name="quarta" max="24">
      <br>
      <label for="hours_employees" class="form-label">Quinta-feira</label>
      <input type="number" class="form-control" id="quinta_hour_employees" name="quinta" max="24">
      <br>
      <label for="hours_employees" class="form-label">Sexta-feira</label>
      <input type="number" class="form-control" id="sexta_hour_employees" name="sexta" max="24">
      <br>
      <label for="hours_employees" class="form-label">Sábado</label>
      <input type="number" class="form-control" id="sabado_hour_employees" name="sabado" max="24">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}