{% extends "index.html" %}
{% block content %}

<form class="container" method="POST" action="/cadastrar_novo_funcionario">
    <br>
    <div class="mb-3">
      <label for="name_employees" class="form-label">Nome</label>
      <input class="form-control" id="name_employees" aria-describedby="emailHelp" name="name_employees">
      <div class="form-text">Informar seu Nome</div>
    </div>
    <div class="mb-3">
      <label for="username_employees" class="form-label">Cpf</label>
      <input class="form-control" id="username_employees" aria-describedby="emailHelp" name="cpf_id_employees">
      <div class="form-text">Informar CPF</div>
    </div>
    <div class="mb-3">
      <label for="new_email_employees" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="new_email_employees" name="new_email_employees">
      <div class="form-text">Informar o email</div>
    </div>
    <div class="mb-3">
      <label for="add_password_employees" class="form-label">Senha</label>
      <input type="password" class="form-control" id="add_password_employees" name="password_employees">
      <div class="form-text">Informe a senha</div>
    </div>
    <div class="mb-3">
       <label for="add_password_employees" class="form-label">Senha</label>
       <input type="password" class="form-control" id="add_password2_employees" name="password2_employees">
       <div class="form-text">Confirmação de senha</div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}